.such{
  color: #111111;
  font: 10px Roboto, Arial, sans-serif;
  background: #ffffff;
  margin: 0px 0px 0px 34px;
  padding: 2px 6px;
  height: 1px;
  
  
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.searcharea{
  display: flex;
  align-items: center;
  width: 20%;
  border: 1px solid black;
  
  
}

.search{
  border: none;
  outline: 0;
  width:  200px;
}
.image{
  margin-left: 20px;
}

.icons{
  display: flex;

}

.tope{
  display:inline-block;
  border-radius: 50%;

}


.icon{
  margin-right: 8px;
  


}

.all{
  display: flex;
}

.searchicon{
  padding: 9px 12px;
  background: #f8f8f8;
  color: #000000;
}

input[type="search"] {
height: 30px;
padding: 22px 15px 20px 20px;
}

.mic{
  background-color: #ffffff;
  display: inline-block;
  border-radius: 50%;
}